REPLICATE_API_KEY=ebc879cfe911ade75eeb999cd1dc1ccaf6b921bb

# Optional, if you're doing rate limiting
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Optional, if you're doing auth
NEXTAUTH_URL=
NEXTAUTH_SECRET=
GOOGLE_CLIENT_ID=297668138985-3dct069mdarqo65n6gtjb46bh4rbn9fu.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
DATABASE_URL=
SHADOW_DATABASE_URL=
NEXTAUTH_URL=
